html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
footer,
header,
nav,
section {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

figcaption,
figure,
main {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details,
menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

template {
  display: none
}

[hidden] {
  display: none
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  background-color: rgb(234, 234, 234);
  margin: 0 auto;
}

h1,
h2,
button,
input,
p {
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

form {
  margin-top: 23px;
}

input {
  width: 350px;
  height: 35px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  padding-left: 12px;
  background-color: rgb(254, 247, 247);
}

button {
  width: 110px;
  height: 35px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  margin-left: 10px;
  background-color: rgb(141, 82, 101);
  color: white;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgb(234, 234, 234);
}

.photos {
  margin: 40px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  width: 60%;
  justify-content: center;
  overflow: 'auto';
}

.photo-container:nth-child(5n) {
  grid-column-end: span 2;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgimg {
  margin-bottom: 20px;
  width: 100%;
}

/* .lds-dual-ring {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

/* loading animation from https://loading.io/css/ */

footer p {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
  background-color: rgb(94, 94, 94);
  color: #fff;
  border: 1px solid rgb(175, 175, 175);
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: rgb(186, 179, 121);
}

@media (max-width: 1050px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  input {
    display: flex;
    margin: 0 auto;
    /* width: 100%; */
  }

  button {
    display: flex;
    margin: 10px auto;
    justify-content: center;
  }

  .photos {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  input {
    width: 100%;
  }
}